h1 Welcome to tea mates

form(method="post", enctype="multipart/form-data", action="/")
  h2 What did you say?
  p
    input(type="file", name="audio")
  p
    input(type="submit", value="Upload")

- if (result !== "")
  h2 I guess it is...
  p= result
