#logo
#center
  #inputArea
    #welcomeText
      h2.textCenter Welcome to Tea-Mates!
      h2.textCenter What did you say?

    #sample
      p
        | You can use any of the sample files below
      ul
        li
          a(href="/speech/short.mp3") short.mp3
        li
          a(href="/speech/mid.mp3") mid.mp3
        li
          a(href="/speech/long.mp3") long.mp3
        li
          a(href="/speech/very_long.mp3") very_long.mp3


    #uploadArea
      form(method="post", enctype="multipart/form-data", action="/")
        h1 Audio file:
          input(type="file", name="audio" ).uploadStyle
          input(type="submit", value="Upload" ).searchBtn

        - if (result !== "")
          h3 I guess it is...
          p= result
